{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Student Grounds</title>

    <!-- Bootstrap core CSS -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/highlighter.js' %}"></script>
    <script src="{% static 'js/bootstrap-tour.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-tour.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-faces.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    
    
      <style>
.navbar{
	color:white;
}
      </style>
  
  </head>

  <body>
    
    {% include 'terms_nav.html' %}
<br><br><br>
<div class='container'>
<P ALIGN=CENTER STYLE="margin-top: 0.08in"><B>Privacy Policy</B></P>
<P STYLE="margin-top: 0.08in">Effective Date: January 11, 2016</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">1.    <U>Introduction</U>.
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">1.1.    Student Grounds
Inc. (“Student Grounds”) is committed to respecting the privacy
rights of users of the Student Grounds website, the Student Grounds
service, and any software applications made available by Student
Grounds, such as any mobile device application Student Grounds makes
available (together, the “<B>Service</B>”). Student Grounds has
published this “<B>Privacy Policy</B>” to demonstrate its
commitment to fair information practices and to the protection of
privacy.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><A NAME="h.gjdgxs"></A>
1.2.    <U>Scope</U>. This Privacy Policy is only applicable to the
Service, and not to any websites or services of third parties (“<B>Third
Party Websites</B>”), which may have data collection, storage and
use practices and policies that differ materially from this Privacy
Policy. For additional information, see <U>Section 12 (Third Party
Websites)</U>.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">1.3.    <U>Separate
Terms of Use</U>. By using the Service, You represent and warrant
that You have also read and understood, and agree to be bound by,
both this Privacy and Student Grounds’ separate Terms of Use
document (the “<B>Terms of Use</B>”), which is incorporated
herein by reference and made part of this Privacy Policy. <FONT COLOR="#000000">The
Terms of Use is available at https://studentgrounds.org/terms.</FONT></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>1.4.</B></I>  <U>No
Permission Without Agreement</U>. <I><B>By using the Service, you
represent and warrant that you have read and understood, and agree to
the terms of, this Privacy Policy. If you do not understand or do not
agree to be bound by this Privacy Policy, you must immediately cease
using or accessing the Service.</B></I></P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">2.    <U>Updates and
Changes to Privacy Policy</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">2.1.    Each time You
access the Service, the then-current version of this Privacy Policy
will apply. Each time You use the Service, we recommend that you
check the date of this Privacy Policy (which appears at the top) and
review any changes since the last time You used the Service.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">2.2.    Although most
changes are likely to be minor, Student Grounds reserves the right,
at any time and without notice, to add to, update, change, or modify
this Privacy Policy, simply by posting such update, change, or
modification on this page. Any such addition, update, change, or
modification will be effective immediately upon posting. Unless
Student Grounds obtains Your express consent, any revised Privacy
Policy will apply only to information collected after the effective
date of such revised Privacy Policy, and not to information collected
under any earlier Privacy Policy.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">3.    <U>Children’s
Privacy</U>. Student Grounds does not solicit or knowingly collect
personally identifiable information from children under the age of
13. If Student Grounds obtains actual knowledge that it has collected
personally identifiable information from a child under the age of 13,
Student Grounds will immediately delete such information from its
database. Because Student Grounds does not collect personally
identifiable information from children under the age of 13, Student
Grounds has no such information to use or disclose to third parties.
Student Grounds has designed this Privacy Policy in order to comply
with the Children’s Online Privacy Protection Act (“<B>COPPA</B>”).</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">4.    <U>Information
Collection Practices</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">4.1.    <U>Traffic Data</U>.
Like most website and mobile application operators, Student Grounds
automatically gathers information of the sort that browsers
automatically make available, including: (i) IP addresses; (ii)
domain servers; (iii) types of computers accessing the Service; and
(iv) types of Web browsers accessing the Service (collectively
“<B>Traffic Data</B>”). Traffic Data is anonymous information
that does not personally identify You.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">4.2.    <U>Cookie
Policy</U>. “<B>Cookies</B>” are text files that are placed on
Your computer by websites that You visit or certain emails that You
open. Cookies act as a string of information stored on a user’s
computer or mobile device, and that the user’s browser provides to
the Service each time the user submits a query to the Service. The
purpose of a Cookie is to identify the user as a unique user of the
Service. Student Grounds uses two types of Cookies: “first-party
cookies” and “third-party cookies.”</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">4.3.    <U>First Party
Cookies</U>. Student Grounds uses first-party cookies on the Service,
for example the Google Analytics Cookie, for the following purposes:
(1) to gather visitor and access information relevant to customizing
the Service to your interests; and (2) to store your password so you
do not have to re-enter it each time you use the Service.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>4.4.</B></I>  <I><B>If
you do not wish to have first-party cookies placed on your computer
or mobile device, you should set your browsers to refuse cookies
before accessing the service, with the understanding that certain
features of the service may not function properly without the aid of
cookies. if you refuse cookies, you assume all responsibility for any
resulting loss of functionality.</B></I></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">4.5.    <U>Third Party
Cookies</U>. 
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">4.5.1.    In addition
to these purposes, Google, Inc. (“Google”) uses third-party
cookies to serve online interest-based advertisements on Student
Grounds. As an important example, Google uses a cookie known as
“DoubleClick” to enable both Google and Google’s third-party
marketing partners to serve advertisements to You based on
information gathered during Your use of the Service or Your visit to
other websites and services.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">4.5.2.    Student
Grounds may advertise on other Third Party Websites to You after You
access the Service. We and third-party marketing partners, including
without limitation Google, may use first party cookies (such as the
Google Analytics cookie) and third party cookies (such as the
DoubleClick cookie) to inform, optimize, and serve advertisements to
You based on your use of the Service.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">4.5.3.      Google
Analytics is Google’s analytics tool that helps website and app
owners to understand how their visitors engage with their properties.
It may use a set of cookies to collect information and report website
usage statistics without personally identifying individual visitors
to Google. The main cookie used by Google Analytics is the “__ga”
cookie. Student Grounds Inc. uses Google Analytics on the Student
Grounds website.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">4.5.4.      In
addition to reporting website usage statistics, Google Analytics can
also be used, together with other advertising cookies (including the
cookies described above), to help show more relevant ads on Google
properties (like Google Search) and across the web.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">4.5.5.    Google
allows users to customize cookie preferences in Google Ads Settings
page. You can also learn more about how to delete or control cookies
at <A HREF="http://www.aboutcookies.org"><FONT COLOR="#0563c1"><U>www.aboutcookies.org</U></FONT></A>.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">4.6.    <U>Ad Serving</U>.
Student Grounds uses third parties for advertising through the
Service and analytics of Student Grounds users. These third parties
may place Cookies on Your computer or mobile device, use web beacons,
and gather IP addresses and log data to collect traffic and activity
data in order to deliver relevant metrics, content, and advertising.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">4.7.    <U>Personally
Identifiable Information</U>. In order for You to use certain
features of the Service, You will be asked to provide Student Grounds
certain personally identifiable information (“<B>Personal
Information</B>”). Personal Information includes the following
categories, without limitation: (1) “<B>Contact Data</B>” (such
as Your name, phone number, fax number, mailing address and email
address); (2) “<B>Financial Data</B>” (such as Your credit/debit
card number and expiration date); (3) “<B>Demographic Data</B>”
(such as Your gender and zip code); and (4) “<B>Third Party Social
Media Account Data</B>” (such as Your account information for third
party social media accounts when you access the Service in connection
to those accounts). In each case, You will be asked to provide
Personal Information; the Service will not gather it surreptitiously.
Student Grounds may supplement the Personal Information You provide
with additional Personal Information gathered from public sources or
from third parties (e.g., consumer reporting agencies) who may
lawfully provide such information to Student Grounds. You are under
no obligation to provide Personal Information, with the caveat that
Your refusal to do so may prevent You from using certain features of
the Service.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">4.8.    <U>Information
You Make Public</U>. The Service may contain features (e.g., instant
messages, electronic messaging, etc.) that permit You to upload,
post, transmit, display, perform or distribute content, or other
information, including Your Personal Information. Any information
that You choose to disclose by means of such features becomes public
information over which Student Grounds is unable to exercise control.
You should exercise caution when deciding to disclose Your Personal
Information by means of such features, and You agree to assume all
responsibility for doing so.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">4.9.    <U>Mobile Device
Information</U>. 
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">4.9.1.    Student
Grounds may collect: (i) information about the type, make, and model
of Your mobile device, the operating system You use on the device,
browser type and specifications, the network service or wireless
communication provider who connects Your device to a
telecommunications system or systems, Your internet protocol address,
and other unique identifiers assigned by third parties to Your mobile
device, and (ii) information about your activity on the device,
including Your use of other mobile applications on the same device,
click data and click patterns in relation to promotional advertising
on your device, cookies (defined above), tracking tags, pixel tags,
and visitor history.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">4.9.2.    Student
Grounds may access and collect information regarding the physical
geographic location of your mobile device.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">5.    <U>Information
Use and Disclosure Practices</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">5.1.    <U>Traffic Data
and Information Gathered Using Cookies</U>. Student Grounds analyzes
Traffic Data and information gathered using Cookies to help Student
Grounds better understand who is using the Service and how they are
using it. By identifying patterns and trends in usage, Student
Grounds is able to better design the Service to improve Your
experience, and to serve You more relevant and interesting content
and advertisements. From time to time, Student Grounds may release
Traffic Data and information gathered using Cookies in the aggregate,
such as by publishing a report on trends in the usage of the Service.
Student Grounds does not attempt to link information gathered using
Cookies to Personal Information.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">5.2.    <U>Personal
Information</U>. 
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">5.2.1.    <U>Generally</U>.
Student Grounds uses Your Contact Data to send You information about
Student Grounds and Student Grounds’s products and services, and to
contact You when necessary in connection with the Service. Student
Grounds uses Your Financial Data to verify Your qualifications for
certain features of the Service and, when necessary, to bill You.
Student Grounds uses Your Demographic Data to customize and tailor
Your experience on the Service<FONT COLOR="#ff0000">. </FONT>As with
Traffic Data and information gathered using Cookies, from time to
time Student Grounds may release Demographic Data in the aggregate,
such as by publishing a report on trends in the usage of the Service.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">5.2.2.    <U>Disclosure
Practices</U>. Except under the following categories of
circumstances, Student Grounds will keep Your Personal Information
private, and will not share it with third parties.</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">5.2.2.1.    <U>Disclosure
to Marketing Partners</U>. Student Grounds may utilize any and all
Personal Information to help our clients better understand the
demographics of our target audiences as well as to support our
marketing data products and services. We may also provide personally
identifiable data to partner firms which may include third party
marketing companies, affiliates, advertising agencies, and data
aggregation companies. Such data may be used by the aforementioned
partner firms to provide consumers with information on products and
services that may be of interest in accordance with this Privacy
Policy.</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">5.2.2.2.    <U>Disclosure
in Connection with Service</U>. Student Grounds discloses Personal
Information to those who help it provide services, including without
limitation those who perform technical, administrative, and data
processing tasks such as hosting, billing, fulfillment, and data
storage and security.</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">5.2.2.3.    <U>User
Content</U>. 
</P>
<P STYLE="text-indent: 2.5in; margin-top: 0.08in">5.2.2.4.1.    <U>User
Content Defined</U>. “<B>User Content</B>” is any content,
material, or information, not including Personal Information, that
You submit, upload, and/or post to, or transmit, display, perform, or
distribute by means of, the Service, whether in connection with Your
use of the Service or otherwise. This includes, without limitation,
personal photos and videos.</P>
<P STYLE="text-indent: 2.5in; margin-top: 0.08in"><A NAME="_GoBack"></A>
5.2.2.4.2.  <U>License to User Content</U>. As stated in the Terms of
Use, by using the Service, You grant Student Grounds Inc. and its
stockholders, officers, directors, employees, agents, affiliates,
consultants, representatives, sublicenses, successors, and assigns
(collectively, the “<B>Company Parties</B>”) the right to publish
Your name and any username of Yours in connection with the Company
Parties’ exercise of their license in and to Your User Content. You
further waive any claims arising from the Company Parties’ exercise
of that right. For additional information, see the section of the
Terms of Use titled “User Content”.</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">5.2.2.5.    <U>By Law or
to Protect Rights</U>. Student Grounds discloses Personal Information
when required to do so by law, or in response to a subpoena or court
order, or when Student Grounds believes in its sole discretion that
disclosure is reasonably necessary to protect the property or rights
of Student Grounds, third parties, or the public at large.</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">5.2.2.6.    <U>Business
Transfers; Bankruptcy</U>. Student Grounds reserves the right to
transfer all Personal Information in its possession to a successor
organization in the event of a merger, acquisition, or bankruptcy or
other sale of all or a portion of Student Grounds’ assets. Other
than to the extent ordered by a bankruptcy or other court, the use
and disclosure of all transferred Personal Information will be
subject to this Privacy Policy, or to a new privacy policy if You are
given notice of that new privacy policy and an opportunity to
affirmatively opt-out of it. Personal Information submitted or
collected after a transfer, however, may be subject to a new privacy
policy adopted by Student Grounds’ successor organization.</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">5.2.2.7.    <U>Unpaid
Accounts</U>. If You fail to pay any balance owed in consideration of
services, Student Grounds may, as permitted by law, report Your
Personal Information, including without limitation Your unpaid
balance, to consumer credit reporting services, collection agencies,
and others.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">6.    <U>Consent to
Receive Electronic Communications From Company</U>. Without
limitation, by registering for the Service and/or by providing Your
name, email, postal or residential address, and/or phone number
through the Service, You hereby expressly consent to receive
electronic and other communications from Student Grounds, over the
short term and periodically, including email and short-message
service (“SMS” or “text message”) communications, regarding
the Service, new product offers, promotions, and other matters. You
may opt out of receiving electronic communications at any time by
following the unsubscribe instructions contained in each
communication.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">7.    <U>Consent to
Receive Electronic Communications from Other Users</U>. Without
limitation, by registering for the Service and/or by providing Your
name, email, postal or residential address, and/or phone number
through the Service, You hereby consent to receive electronic
communications, including email, short-message service (“SMS”)
messages, instant messages, video conferencing, and other personal
messages from other users of the Service.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">8.    <U>Consent to
Receive Electronic Communications from Partner Marketers</U>. Without
limitation, by registering for the Service and/or by providing Your
name, email, postal or residential address, and/or phone number
through the Service, You hereby consent to receive, and openly and
knowingly solicit, electronic communications, including email and SMS
communications, from Student Grounds partner firms, which may include
third party marketing companies, affiliates, advertising agencies,
and data aggregation companies regarding their services, including
offers, promotions, and other related matters. You may opt out of
receiving electronic communications at any time by following the
unsubscribe instructions contained in each communication.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">9.    <U>Security of
Personal Information</U>. Student Grounds takes security seriously.
We utilize commercially reasonable safeguards to protect against the
unauthorized access, use, modification, destruction or disclosure of
Your Personal Information. However, due to the realities of data
security, Student Grounds is unable to guarantee that any information
provided to us will not be accessed, hacked, disclosed, altered, or
destroyed by unauthorized parties.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">10.   <U>Lost or
Stolen Information</U>. You must promptly notify us if Your credit,
bank, other financial institution information, user name, or password
is lost, stolen, or used without permission. In such an event, we
will remove that credit card number, bank account information, other
financial institution information, user name, or password from Your
account and update our records accordingly.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">11.   <U>User Ability
to Access, Update, and Correct Personal Information</U>. Student
Grounds wants Your Personal Information to be complete and accurate.
As stated in the Terms of Use, by using the Service, You represent
and warrant that all information You provide in connection with Your
use of the Service is current, complete, and accurate, and that You
will update that information as necessary to maintain its
completeness and accuracy. To confirm the completeness and accuracy
of, or make changes to, Your Personal Information, visit Your
personal profile. Through Your personal profile You may review and
update Your Personal Information that we have already collected.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">12.   <U>Third Party
Websites</U>. Student Grounds neither owns nor controls Third Party
Websites. Accordingly, Third Party Websites are under no obligation
to comply with this Privacy Policy except with respect to Personal
Information provided directly to them by Student Grounds. Before
visiting or providing Personal Information to Third Party Websites,
You should inform Yourself of the privacy policies and practices (if
any) of those Third Party Websites, and should take those steps
necessary to, in Your discretion, protect Your privacy.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">13.   <U>Promotional
Activities</U>. From time to time, Student Grounds may conduct
contests, giveaways, and other promotions (collectively, “<B>Promotional
Activities</B>”). Any information submitted in connection with
Promotional Activities will be treated in accordance with this
Privacy Policy. From time to time, Student Grounds may also ask You
to participate in surveys designed to help Student Grounds improve
the Service. Any Personal Information provided to Student Grounds in
connection with any survey will be used only in relation to that
survey, and will be disclosed to third parties not bound by this
Privacy Policy only in aggregated form.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">14.   <U>Business
Transitions</U>. In the event Student Grounds goes through a business
transition, including without limitation any merger, acquisition,
partnership, business reorganization, debt finance, or sale of
company assets, or in the event of an insolvency, bankruptcy, or
receivership (together a “<B>Business Transition</B>”), Student
Grounds may use information collected in accordance with this Privacy
Policy and subject to the restrictions herein, as part of any such
Business Transition. In such instances, Your information can be part
of the assets transferred.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">15.   <U>California
Do-Not-Track Disclosures</U>. Without changing or revoking any of
Your privacy protections contained in this Privacy Policy, it is not
feasible at this juncture for Student Grounds to “respond” to a
“Do Not Track” signal as those terms appear in Section
22575(b)(5) of the California Business and Professions Code.</P>
</div>
</body>

</html>