{% load staticfiles %}
{% load crispy_forms_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    

    <title>Student Grounds</title>

    <!-- Bootstrap core CSS -->
    <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/highlighter.js' %}"></script>
    <script src="{% static 'js/bootstrap-tour.min.js' %}"></script>
    <link href="{% static 'css/bootstrap-tour.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-faces.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    
    
      <style>
.navbar{
	color:white;
}
      </style>
  
  </head>

  <body>
    
    {% include 'terms_nav.html' %}
<br><br><br>
<div class='container'>
<P ALIGN=CENTER STYLE="margin-top: 0.08in"><A NAME="h.gjdgxs"></A><B>Terms
of Use</B></P>
<P STYLE="margin-top: 0.08in"><A NAME="_GoBack"></A>Effective Date:
January 11, 2016</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">1.	<U>Agreement</U>.
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">1.1.	Welcome to
Student Grounds! Student Grounds Inc. (“<B>Company</B>”)
recommends that you read the following terms and conditions
(“<B>Agreement</B>”) carefully. By accessing or using the Student
Grounds website, the Student Grounds Service, including any software
applications made available by Company, such as any mobile
applications (together, the “<B>Website</B>” or “<B>Service</B>”),
however accessed or used, you agree to be bound by these terms of use
(the “Agreement”). By clicking “I Agree”, you agree to be
bound to the Agreement, constituting a legally binding agreement by
and between Company and you concerning your use of the Service. We
encourage you to print the Agreement or save it to your computer for
reference.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">1.2.	<U>Separate
Privacy Policy</U>. By using the Service, you represent and warrant
that you have read and understood, and agree to be bound by, this
Agreement and Student Grounds Inc.’s Privacy Policy (the “<B>Privacy
Policy</B>”), which is incorporated into this Agreement by
reference. <FONT COLOR="#000000">The Privacy Policy is available at
</FONT><A HREF="https://studentgrounds.org/privacy"><FONT COLOR="#000000"><U>https://studentgrounds.org/privacy</U></FONT></A><FONT COLOR="#000000">.</FONT></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>1.3.</B></I>	<U>No
Permission Without Agreement</U>. <I><B>If you do not understand this
Agreement, or do not agree to be bound by it or the Privacy Policy,
you may not access or use the Service, and you must immediately cease
accessing or using the Service.</B></I></P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">2.	<U>Privacy
Policy</U>. By using the Service, you consent to the collection and
use of certain information about you, as specified in the Privacy
Policy discussed in section <U>Section 1.2 (Separate Privacy Policy)</U>.
Company encourages users of the Service to frequently check Student
Grounds Inc.’s Privacy Policy for changes.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in"><I><B>3.</B></I>	<U>Changes
to Agreement and Privacy Policy</U>. <I><B>Internet technology and
the applicable laws, rules, and regulations change frequently.
Accordingly, Company reserves the right to change this Agreement and
its Privacy Policy at any time upon notice to you, to be given by the
posting of a new version or a change notice. It is your
responsibility to review this Agreement and the Privacy Policy
periodically. If at any time you find either this Agreement or the
Privacy Policy unacceptable, you must immediately cease accessing
and/or using the Service. Unless Company obtains your express
consent, any revised Privacy Policy will apply only to information
collected by Company after the revised Privacy Policy takes effect,
and not to information collected under any earlier Privacy Policies.</B></I></P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in"><I><B>4.</B></I>	<U>Eligibility</U>.
<I><B>By accessing and/or using the Service, including by doing so
after accessing this Agreement, you represent and warrant that you
are at least 18 years old and are otherwise legally qualified to
enter into and form contracts under applicable law. Any individual
using the Service on behalf of a company further represents and
warrants that they are authorized to act and enter into contracts on
behalf of that company. This Agreement is void where prohibited.</B></I></P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">5.	<U>Company’s
Role</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">5.1.	Without
limitation, you agree that Company is merely a third-party platform
and you use the Service at your own risk, without limitation and
pursuant to <U>Section 8 (Assumption of Risk; Release)</U>.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">6.	<U>License</U>.
Subject to your compliance with the terms and conditions of this
Agreement, Company grants you a non-exclusive, non-sublicensable,
revocable as stated in this Agreement, non-transferable license to
access the Company websites (located at the following URLs:
<A HREF="https://studentgrounds.org"><FONT COLOR="#0563c1"><U>https://studentgrounds.org</U></FONT></A>),
and to use the Service. The Service, including any portion of the
Company Website or mobile application, may not be reproduced,
duplicated, copied, modified, sold, resold, distributed, transmitted,
or otherwise exploited for any commercial purpose without the prior,
express written consent of Company. All rights not expressly granted
herein are reserved by Company. Without limitation, this Agreement
grants you no rights in or to the intellectual property of Company or
any other party, except as expressly set forth herein. The license
granted in this section is conditioned on your compliance with the
terms and conditions of this Agreement. Your rights under this
section will immediately terminate if you breach, actually or
potentially, in the sole judgment of Company, any provision of this
Agreement.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">7.	<U>No Reliance
on Third Party Content</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">7.1.	The Service is
provided for entertainment purposes only.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">7.2.	The Service is
provided only as a technology solution.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">7.3.	Opinions,
advice, statements, or other information made available by means of
the Service by third parties are those of their respective authors,
and should not necessarily be relied upon. Such authors are solely
responsible for such content. Company does not: (i) guarantee the
accuracy, completeness, or usefulness of any third-party information
accessible on or through the Service; or (ii) adopt, endorse, or
accept responsibility for the accuracy or reliability of any opinion,
advice, or statement made by a third party by means of the Service.
Under no circumstances will Company be responsible for any loss or
damage resulting from your reliance on information or other content
posted through the Service transmitted to or by any third party.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in"><I><B>8.</B></I>	<U>Assumption
of Risk; Release</U>. <I><B>You knowingly and freely assume all risk
when using the Service. You, on behalf of yourself, your personal
representatives, and your heirs, hereby voluntarily agree to release,
waive, discharge, hold harmless, defend, and indemnify Student
Grounds Inc. and its stockholders, officers, directors, employees,
agents, affiliates, consultants, representatives, sublicenses,
successors, and assigns (collectively, the “</B></I><B>Company
Parties</B><I><B>”) from any and all claims, actions, or losses for
bodily injury, property damage, wrongful death, emotional distress,
loss of privacy, or other damages or harm, whether to you or to third
parties, that may result from your use of the Service.</B></I></P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">9.	<U>Accurate User
Information; Password Protection</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">9.1.	To access and
use the Service, you may be asked to provide certain registration
details or other information that personally identifies you
(“Personal Information”). You represent and warrant that all user
information you provide in connection with your use of the Service is
current, complete, and accurate, and that you agree that you will
update that information as necessary to maintain its completeness and
accuracy by visiting your personal profile. You agree that you will
not submit any fake content (including without limitation any
account, username, likeness, or profile) to willfully and credibly
impersonate another person, whether actual or fictitious. As a
non-exhaustive example, you agree that you will not upload a profile
image that is not your likeness. If Company believes in its sole
discretion that the information you provide is not current, complete,
or accurate, Company has the right to refuse you access to the
Service and/or to terminate or suspend your access at any time. For
additional information, see the Section concerning “User Ability to
Access, Update, and Correct Personal Information” in Company’s
Privacy Policy.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">9.2.	You may also be
asked to provide a username and password in connection with your use
of certain features of the Service. You are entirely responsible for
maintaining the confidentiality of your password. You may not use the
username or password of any other user at any time, nor may you
circumvent any authentication mechanism requiring the entry of
usernames or passwords to gain unauthorized access to the Service.
You agree to notify Company immediately of any unauthorized use of
your username or password. Company shall not be liable for any loss
that you incur as a result of someone else using your username or
password, either with or without your knowledge. You may be held
liable for any losses incurred by Company, its affiliates, officers,
directors, employees, consultants, agents, and representatives due to
someone else’s use of your username or password.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in"><I><B>10.</B></I>	<U>Your
Interactions with Other Users</U>. <I><B>You are solely responsible
for your interactions with other Student Grounds users. You
acknowledge and understand that Company has not, and does not, in any
way guarantee that it will: (a) screen its users; (b) inquire into
the backgrounds of its users; or (c) review or verify the statements
of its users. You hereby agree to exercise reasonable precaution in
all interactions with other users, particularly if you decide to meet
another user or users in person. Company does not represent, warrant,
endorse or guarantee the conduct of its users. In no event shall
Company be liable for indirect, special, incidental, or consequential
damages arising out of or relating to any user’s conduct in
connection with such user’s use of the Service, including, without
limitation, bodily injury, property damage, wrongful death, emotional
distress, loss of privacy, or any other damages resulting from
communications or meetings between users.</B></I></P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">11.	<U>Consent to
Receive Electronic Communications from Company</U>. Without
limitation, by registering for the Service and providing your name,
email, postal or residential address, and/or phone number through the
Service, you hereby expressly consent to receive electronic and other
communications from Company, over the short term and periodically,
including email, regarding the Service, new product offers,
promotions, and other matters. You may opt out of receiving
electronic communications at any time by following the unsubscribe
instructions contained in each communication.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">12.	<U>Consent to
Receive Electronic Communications from Company Users</U>. Without
limitation, by registering for the Service and providing your name,
email, postal or residential address, and/or phone number through the
Service, you hereby consent to receive electronic communications,
including email and other personal messages from other users of the
Service.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">13.	<U>Consent to
Receive Electronic Communications from Company Partner Marketers</U>.
Without limitation, by registering for the Service and/or by
providing your name, email, postal or residential address, and/or
phone number through the Service, you hereby consent to receive, and
openly and knowingly solicit, electronic communications, including
email and text message (SMS) communications, from Company partner
firms which may include third party marketing companies, affiliates,
advertising agencies, and data aggregation companies regarding their
services, including offers, promotions, and other related matters.
You may opt-out of receiving electronic communications at any time by
following the unsubscribe instructions contained in each
communication.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">14.	<U>Fees</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">14.1.	<U>Reserved
Rights for Company’s Fees</U>. 
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">14.1.1.	You
acknowledge and agree that Company reserves the right to charge for
access to the Service, in accordance with the policies stated in this
Section, and subject to amendment as specified in this Agreement.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in"><I><B>14.1.2.</B></I>	<I><B>Company
reserves the right, in Company’s sole discretion, to change the
fees and charges in effect, or to add new fees and charges, by
posting such changes or providing notice to you. All fees and charges
are nonrefundable, and there are no refunds, nor are there credits
for partially used membership periods.</B></I></P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">14.1.3.	Company’s
decision not to exercise any specific right or require performance of
any specific obligation under this Agreement, including without
limitation the collection of regularly recurring fees from you, shall
not affect Company’s subsequent ability to exercise such right or
require such performance at any time thereafter. Nor shall Company’s
waiver of your breach constitute Company’s waiver of any subsequent
breach by you or any other user of the Service. By using the Service,
you authorize Company, and/or its payment processor, to charge
Company’s fees to the credit card, debit card, or other payment
method you provide, in addition to applicable sales taxes and other
taxes.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">14.2.	<U>Reservation
to Charge Later</U>. The Service is currently provided at no charge
to you. Company may, upon at least 30 days prior notice to you,
charge fees for your use of the Service. Furthermore, any applicable
fees for the Service may be changed from time to time by Company at
its discretion at any time upon at least 30 days prior notice to you.
If you continue to use the Service after any new fees becomes
effective, you thereby agree to pay those fees, which Company
discloses to you.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">15.	<U>Third Party
Websites</U>. The Service is linked with the websites of third
parties (“<B>Third Party Websites</B>”), some of whom may have
established relationships with Company and some of whom may not.
Company does not have control over the content and performance of
Third Party Websites. Company has not reviewed, and cannot review or
control, all of the material, including computer software or other
goods or services, made available on Third Party Websites.
Accordingly, Company does not represent, warrant, or endorse any
Third Party Websites, or the accuracy, currency, content, fitness,
lawfulness, or quality of the information, material, goods, or
services available through Third Party Websites. Company disclaims,
and you agree to assume, all responsibility and liability for any
damages or other harm, whether to you or to third parties, resulting
from your use of Third Party Websites.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">16.	<U>User
Content</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">16.1.	<U>User Content
Defined</U>. “<B>User Content</B>” is any content, material, or
information, not including personally identifiable information (<I>e.g.</I>,
first and last name, address, phone number, email address, etc.),
that you submit, upload, and/or post to, or transmit, display,
perform, or distribute by means of the Service, whether in connection
with your use of the Service or otherwise. This includes, without
limitation, personal photos and videos.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">16.2.	<U>You Own Your
User Content</U>. Company does not claim ownership of any User
Content. You retain all right, title, and interest, including without
limitation all worldwide intellectual property rights, in and to your
User Content.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>16.3.</B></I>	<U>License
of User Content</U>. <I><B>By submitting, uploading, or posting User
Content in any form with, through, or to the Service, you thereby
grant the Company Parties a royalty-free, perpetual, non-exclusive,
unrestricted, fully paid-up, worldwide, sublicensable, revocable (as
set forth in </B></I><U>Section 6 (License)</U><I><B> of this
Agreement), assignable license to copy or otherwise reproduce,
modify, adapt, translate, distribute, enhance, transmit, publicly
display or perform, reformat, and/or otherwise use User Content in
connection with the operation of the Service, or any other similar or
related business, in any medium now existing or later devised,
including without limitation in advertising and publicity. You
further agree that the Company Parties may publish or otherwise
disclose your personal information in connection with their exercise
of the license granted under this section. You agree to waive, and
hereby waive, any claims arising from or relating to the exercise by
the Company Parties of the rights granted under this section,
including without limitation any claims relating to your rights of
personal privacy and publicity. You will not be compensated for any
exercise of the license granted under this Section.</B></I></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">16.4.	<U>Your
Representations About User Content</U>. You hereby represent and
warrant that you: (a) own all rights, title, and interest in all User
Content you submit, or are otherwise authorized to grant the rights
provided the Company Parties under this section, OR (b) have written
consent, release, and/or permission of every identifiable individual
person in any User Content you submit to use the name and likeness of
every such identifiable person in the User Content. You agree that
you will not submit any User Content that does not fully comply with
Company’s prohibitions against Objectionable Content, as detailed
in <U>Section 19 (Objectionable Content)</U>.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">16.5.	<U>Company’s
Right to Reject User Content</U>. Company reserves the right, in its
sole discretion, to reject any User Content for any reason. The
categories specified in <U>Section 19 (Objectionable Content)</U> and
<U>Section 20 (Prohibited Uses)</U> are not exhaustive lists of
content that Company reserves the right to remove or deny.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">17.	<U>Public
Forums</U>. “Public Forum” is any area, site, or feature offered
as part of the Service (including without limitation blogs, photo and
video sharing, and personal messaging features) that enables you (a)
to upload, submit, post, display, perform, distribute, and/or view
User Content, and/or (b) to communicate, share, or exchange User
Content with other users or other visitors. You acknowledge that
Public Forums, and features contained therein, are for public and not
private communications. You further acknowledge that anything you
upload, submit, post, transmit, communicate, share, or exchange by
means of any Public Forum may be viewed on the Internet by the
general public, and therefore, you have no expectation of privacy
with regard to any such submission or posting. You are, and shall
remain, solely responsible for the User Content you upload, submit,
post, transmit, communicate, share, or exchange by means of any
Public Forum and for the consequences of submitting or posting same.
Company disclaims any perceived, implied, or actual duty to monitor
Public Forums and specifically disclaims any responsibility or
liability for information provided thereon.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">18.	<U>Your
Responsibility for Defamatory Comments</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">18.1.	You agree and
understand that you may be held legally responsible for damages
suffered by other users or third parties as the result of your
remarks, information, feedback, or other content posted or made
available through the Service that is deemed defamatory or otherwise
legally actionable. Under the Federal Communications Decency Act of
1996, Company is not legally responsible, nor can it be held liable
for damages of any kind, arising out of or in connection to any
defamatory or otherwise legally actionable remarks, information,
feedback, or other content posted or made available through the
Service.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">18.2.	In the event
that you raise or file any claim against Company for conduct that a
Court of Competent Jurisdiction subsequently finds to constitute an
“exercise of a publisher’s traditional editorial functions,” or
the legal equivalent thereof, you agree to fully and immediately
compensate Company for all losses, liability, damages, costs, and
expenses, including without limitation all attorneys’ fees and
expenses in defending the action and resolving the matter. If you
fail to compensate Company for any such claim, you hereby agree and
authorize Company to report your Personal Information, including
without limitation your unpaid claim, to consumer credit reporting
services, collection agencies, and others.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">19.	<U>Objectionable
Content</U>. You agree that you shall not use the Service to upload,
post, transmit, display, perform, or distribute any content,
information, or materials that: (a) are libelous, defamatory,
abusive, threatening, excessively violent, harassing, obscene, lewd,
lascivious, filthy, or pornographic; (b) constitute child
pornography; (c) solicit personal information from or exploit in a
sexual or violent manner anyone under the age of 18; (d) incite,
encourage, or threaten physical harm against another; (e) promote or
glorify racial intolerance, use hateful and/or racist terms, or
signify hate towards any person or group of people; (f) glamorize the
use of illegal substances and/or drugs; (g) advertise or otherwise
solicit funds or constitute a solicitation for goods or services; (h)
violate any provision of this Agreement or any other Company
agreement or policy, including without limitation Company’s Privacy
Policy; (i) disclose another’s personal, confidential, or
proprietary information; (j) are false or fraudulent; (k) contains
images or videos of individuals captured or posted without their
consent; (l) promote self-destructive behavior (including without
limitation eating disorders or suicide); or (m) are generally
offensive, rude, mean-spirited, or in bad taste, as determined by
Company in its sole discretion (collectively, “<B>Objectionable
Content</B>”). Company disclaims any perceived, implied, or actual
duty to monitor the contents made available through the Service and
specifically disclaims any responsibility or liability for
information provided thereon. Without limiting any of its other
remedies, Company reserves the right to terminate your use of the
Service or your uploading, posting, transmission, display,
performance, or distribution of Objectionable Content. Company, in
its sole discretion, may delete any Objectionable Content from its
servers. Company intends to cooperate fully with any law enforcement
officials or agencies in the investigation of any violation of this
Agreement or of any applicable laws.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">20.	<U>Prohibited
Uses</U>. Company imposes certain restrictions on your use of the
Service. You agree that you will not: (a) “stalk” or otherwise
harass any person, or contact any person who has requested not to be
contacted; (b) provide false, misleading or inaccurate information to
Company or any other member; (c) impersonate, or otherwise
misrepresent affiliation, connection, or association with, any person
or entity; (d) modify or change the placement and location of any
advertisement posted through the Service; (e) harvest or otherwise
collect information about Company users, including email addresses
and phone numbers; (f) use or attempt to use any engine, software,
tool, agent, or other device or mechanism (including without
limitation browsers, spiders, robots, avatars, or intelligent agents)
to harvest or otherwise collect information from the Service for any
use, including without limitation use on Third Party Websites; (g)
access content or data not intended for you, or log onto a server or
account that you are not authorized to access; (h) attempt to probe,
scan, or test the vulnerability of the Service, or any associated
system or network, or breach security or authentication measures
without proper authorization; (i) interfere or attempt to interfere
with the use of the Service by any other user, host, or network,
including without limitation by means of submitting a virus,
overloading, “flooding,” “spamming,” “mail bombing,” or
“crashing”; (j) use the Service to send unsolicited email,
including without limitation promotions or advertisements for
products or services; (k) forge any TCP/IP packet header or any part
of the header information in any email or in any uploading or posting
to, or transmission, display, performance or distribution by means
of, the Service; (l) while using the Service, use “ad blocking”
software or similar built-in web browser options designed to hide,
block or prevent the proper display of online advertising; or (l)
attempt to modify, reverse-engineer, decompile, disassemble, or
otherwise reduce or attempt to reduce to a human-perceivable form any
of the source code used by the Company Parties in providing the
Service, including without limitation any fraudulent effort to modify
software or any other technological mechanism the use to measure the
number of impressions generated by individual videos and/or the
Service to determine and/or audit Net Advertising Revenues and Net
Advertising Revenue Payments. Any violation of this section may
subject you to civil and/or criminal liability.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">21.	<U>Intellectual
Property</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">21.1.	<U>Compliance
with Law</U>. 
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">21.1.1.	You
represent and warrant that, when using the Service, you will obey all
applicable laws and respect the intellectual property rights of
others. Your use of the Service is at all times governed by and
subject to laws regarding copyright ownership and use of intellectual
property generally. You agree not to upload, post, transmit, display,
perform, or distribute any content, information or other materials in
violation of any third party’s copyrights, trademarks, or other
intellectual property or proprietary rights.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in"><I><B>21.1.2.</B></I>	<I><B>You
hereby represent and warrant that you are the sole and exclusive
owner of any User Content that you submit through the Service. You
shall be solely responsible for any violations of any laws and for
any infringements of third-party rights caused by your use of the
Service. Company users bear the sole burden of proving that content,
information, or other materials do not violate any laws or
third-party rights.</B></I></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">21.2.	<U>Trademarks</U>.
Company and the “Company logo” (collectively, the “<B>Company
Marks</B>”) are trademarks or registered trademarks of Company.
Other trademarks, service marks, graphics, logos, and domain names
appearing anywhere on, through, or in connection with the Service may
be the trademarks of third parties. Neither your use of the Service
nor this Agreement grant you any right, title, or interest in or to,
or any license to reproduce or otherwise use, the Company Marks or
any third-party trademarks, service marks, graphics, logos, or domain
names. You agree that any goodwill in the Company Marks generated as
a result of your use of the Service will inure to the benefit of
Company, and you agree to assign, and hereby do assign, all such
goodwill to Company. You shall not at any time, nor shall you assist
others to, challenge Company’s right, title, or interest in or to,
or the validity of, the Company Marks.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">21.3.	<U>Copyrighted
Materials; Copyright Notice</U>. All content and other materials
available through the Service, including without limitation the
Company logo, design, text, graphics, and other files, and the
selection, arrangement, and organization thereof, are either owned by
Company or are the property of Company’s licensors and suppliers.
Except as explicitly provided, neither your use of the Service nor
this Agreement grant you any right, title, or interest in or to any
such materials.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">21.4.	<U>DMCA Policy</U>.
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">21.4.1.	As Company
asks others to respect Company’s intellectual property rights,
Company respects the intellectual property rights of others. If you
believe content located on or linked-to by the Service violates your
copyright, you are encouraged to please immediately notify Company by
means of emailed notice (“Infringement Notice”), providing the
information described herein. If Company takes action in response to
an Infringement Notice, it will make a good faith attempt to contact
the party that made such content available by means of the most
recent email address, if any, provided by such party to Company.
Please be advised that you may be held liable for damages based on
certain material misrepresentations contained in an Infringement
Notice. Thus, if you are not sure content located on or linked-to by
the Service infringes your copyright, you should consider first
contacting an attorney.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">21.4.2.	All
Infringement Notices should include the following:</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">21.4.2.1.	A
signature, electronic or physical, of the copyright owner or a person
authorized to act on their behalf;</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">21.4.2.2.	An
identification of the copyright claimed to have been infringed;</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">21.4.2.3.	A
description of the nature and location of the material that you claim
to infringe your copyright, in sufficient detail to permit Company to
find and positively identify that material;</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">21.4.2.4.	Your name,
address, telephone number, and email address; and</P>
<P STYLE="text-indent: 2in; margin-top: 0.08in">21.4.2.5.	A statement
by you: (i) that you believe in good faith that the use of the
material that you claim to infringe your copyright is not authorized
by law, or by the copyright owner or such owner’s agent; and, (ii)
under penalty of perjury, that all of the information contained in
your Infringement Notice is accurate, and that you are either the
copyright owner or a person authorized to act on their behalf.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">21.4.3.	Infringement
Notices should be sent to Info<A HREF="mailto:dmca@studentgrounds.org"><U>@studentgrounds.org</U></A>
with the subject line “DMCA Notice: (INSERT YOUR NAME OR YOUR
COMPANY’S NAME)”.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">21.4.4.	Company
will respond to all such notices, including as required or
appropriate by removing the offending material or disabling all links
to the offending material.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">22.	<U>Disclaimers;
Limitation of Liability</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>22.1.</B></I>	<U>No
Warranties</U>. <I><B>Company, on behalf of itself and its licensors
and suppliers, hereby expressly disclaims any and all warranties,
express or implied, regarding the Service, arising by operation of
law or otherwise, including without limitation any and all implied
warranties of merchantability, fitness for a particular purpose,
non-infringement, no encumbrance, or title, in addition to any
warranties arising from a course of dealing, usage, or trade
practice. Neither Company nor its licensors or suppliers warrants
that the Service will meet your requirements, or that the operation
of the Service will be uninterrupted or error-free. Company disclaims
all implied liability for damages arising out of the furnishing of
the Service pursuant to this Agreement, including without limitation,
mistakes, omissions, interruptions, delays, tortious conduct, errors,
representations, or other defects arising out of the failure to the
furnish the Service, whether caused by acts of commission or
omission, or any other damage occurring. Company shall not be liable
for any indirect, incidental, special, consequential, or punitive
damages (including without limitation damages for lost profits or
lost revenues), whether caused by the acts or omissions of Company,
Company Parties, or Company users, or their agents or
representatives.</B></I></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">22.2.	<U>Your
Responsibility for Loss or Damage; Backup of Data</U>. 
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in"><I><B>22.2.1.</B></I>	<I><B>You
agree that your use of the Service is at your sole risk. You will not
hold Company or its licensors and suppliers, as applicable,
responsible for any loss or damage that results from your access to
and/or use of the Service, including without limitation any loss or
damage to any of your computers, mobile devices, including without
limitations tablets and/or smartphones, or data. The Service may
contain bugs, errors, problems, or other limitations.</B></I></P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in"><I><B>22.2.2.</B></I>	<I><B>Importantly,
you hereby acknowledge that a catastrophic disk failure or other
similar event could result in the loss of all of the data related to
your account. You agree and understand that it is your responsibility
to backup your data to your personal computer or external storage
device and to ensure such backups are secure.</B></I></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>22.3.</B></I>	<U>Limitation
of Liability</U>. <I><B>In no event shall Company or its licensors or
suppliers be liable to you for any claims arising from your use with
the Service, including without limitation for special, incidental, or
consequential damages, lost profits, lost data or confidential or
other information, loss of privacy, costs of procurement of
substitute goods or services, failure to meet any duty including
without limitation of good faith or of reasonable care, negligence,
or otherwise, regardless of the foreseeability of those damages or of
any advice or notice given to Company or its licensors and suppliers
arising out of or in connection with your use of the Service. This
limitation shall apply regardless of whether the damages arise out of
breach of contract, tort, or any other legal theory or form of
action. You agree that this limitation of liability represents a
reasonable allocation of risk and is a fundamental element of the
basis of the bargain between Company and you. The Service would not
be provided without such limitations.</B></I></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>22.4.</B></I>	<U>Application
of Disclaimers</U>. <I><B>The above disclaimers, waivers, and
limitations do not in any way limit any other disclaimer of
warranties or any other limitation of liability in any other
agreement between you and Company or between you and any of Company’s
licensors and suppliers. Some jurisdictions may not allow the
exclusion of certain implied warranties or the limitation of certain
damages, so some of the above disclaimers, waivers, and limitations
of liability may not apply to you. Company’s licensors and
suppliers are intended third-party beneficiaries of these
disclaimers, waivers, and limitations. No advice or information,
whether oral or written, obtained by you through the Service or
otherwise shall alter any of the disclaimers or limitations stated in
this section.</B></I></P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">23.	<U>Your
Representations and Warranties</U>. You represent and warrant that
your use of the Service will be in accordance with this Agreement and
any other Company policies, and with any applicable laws or
regulations.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">24.	<U>Indemnity by
you</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">24.1.	Without
limiting any indemnification provision of this Agreement, you (the
“Indemnitor”) agree to defend, indemnify, and hold harmless
Company and the Company Parties (collectively, the “Indemnitees”)
from and against any and all claims, actions, demands, causes of
action, and other proceedings (individually, “Claim,” and
collectively, “Claims”), including but not limited to legal costs
and fees, and providing sole and exclusive control of the defense of
any action to Company, including the choice of legal counsel and all
related settlement negotiations, arising out of or relating to: (i)
the relationship between you and Company, whether based in contract,
tort, statute, fraud, misrepresentation, or any other legal theory;
(ii) your breach of this Agreement, including without limitation any
representation or warranty contained in this Agreement; (iii) your
access to or use of the Service; (iv) your provision to Company or
any of the Indemnitees of information or other data; (v) your
violation or alleged violation of any foreign or domestic,
international, federal, state, or local law or regulation; or (vi)
your violation or alleged violation of any third party’s
copyrights, trademarks, or other intellectual property or proprietary
rights.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">24.2.	The Indemnitees
each have the individual right, but not the obligation, to
participate through counsel of their choice in any defense by you of
any Claim as to which you are required to defend, indemnify, or hold
harmless any, each, and/or all Indemnitees. You may not settle any
Claim without the prior written consent of the concerned Company
Parties.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">24.3.	Without
limitation, the Indemnitor also hereby agrees to compensate Company
for any and all lost revenues, future lost profits, and reasonable
search costs and any other reasonable expenses resulting from any
Indemnitor violation of <U>Section 20 (Prohibited Uses)</U>,
including without limitation, any suspension of affiliate accounts or
affiliate payment attributable to fraudulent efforts to manipulate or
otherwise modify reported impressions generated by the Company
Parties under any affiliate advertising agreement.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">25.	<U>Governing
Law; Jurisdiction and Venue</U>. 
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">25.1.	<U>Binding
Arbitration</U>. 
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">25.1.1.	If you and
Company cannot resolve a Claim through negotiations, either party may
elect to have the Claim finally and exclusively resolved by binding
arbitration. Any election to arbitrate by one party shall be final
and binding on the other(s). <I><B>You hereby acknowledge that
without this provision, you would have the right to sue in court with
a jury trial or to participate in a class action.</B></I> The
language in this Agreement shall be interpreted in accordance with
its fair meaning and not strictly for or against either party.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">25.1.2.	The
arbitration shall be commenced and conducted under the Commercial
Arbitration Rules of the American Arbitration Association (“AAA”),
as modified by this Agreement, available at the AAA website
www.adr.org or by calling the AAA at 1-800-778-7879. Except as
otherwise provided for herein, Company will pay the AAA filing,
administration, and arbitrator fees. If, however, the arbitrator
finds that either the substance of your claim or the relief sought is
frivolous or brought for an improper purpose (as measured by the
standards set forth in Federal Rule of Civil Procedure 11(b)), then
you will pay the arbitrator fees, in addition to any amount that
exceeds the filing fees. In that case, you also hereby agree to
reimburse Company for all payments disbursed that are your obligation
to reimburse under the AAA Rules. The arbitrator is bound by the
terms of this Agreement. All issues are for the arbitrator to
resolve, except that issues relating to the enforceability of the
arbitration provision are for a Court of Competent Jurisdiction to
resolve. The arbitration may be conducted in person, through document
submission, through telephone, or online. The arbitrator will issue a
decision in writing, but need only provide a statement of reasons if
requested by a party. The arbitrator must follow applicable law, and
any award may be challenged if the arbitrator fails to do so. Company
may litigate to compel arbitration in court, to stay proceedings
pending arbitration, or to modify, confirm, vacate, or enter judgment
on the award entered by the arbitrator. The arbitrator shall award
costs to the prevailing party (including, without limitation, fees,
expenses, and reasonable attorneys’ fees) at any time during the
proceeding and upon request from either party, within 14 days of the
arbitrator’s ruling on the merits.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">25.2.	<U>Restrictions
Against Joinder of Claims</U>. You and Company agree that any
arbitration shall be limited to each Claim individually. <I><B>You
and Company hereby agree that each may only bring claims against the
other in your or Company’s individual capacity and not as a
plaintiff or class member in any purported class or representative
proceeding.</B></I> In the event that this specific provision is
found to be unenforceable in a Court of Competent Jurisdiction, the
Claim will still be finally and exclusively resolved by binding
arbitration upon the election of either party, and any election to
arbitrate by one party shall be final and binding on the other(s). In
addition: (1) no arbitration shall be joined with any other
arbitration, and (2) there is no right for any Claim to be arbitrated
on a class-action basis or to employ class action procedures, and (3)
there is no right of authority for any dispute to be brought in a
purported representative capacity on behalf either of the general
public or any other individuals.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">25.3.	<U>Remedies in
Aid of Arbitration; Equitable Relief</U>. This agreement to arbitrate
will not preclude you or Company from seeking provisional remedies in
aid of arbitration, including without limitation orders to stay a
court action, compel arbitration, or confirm an arbitral award, from
a Court of Competent Jurisdiction. Furthermore, this agreement to
arbitrate will not preclude you or Company from applying to a Court
of Competent Jurisdiction for a temporary restraining order,
preliminary injunction, or other interim or conservatory relief, as
necessary. As used herein, “Court of Competent Jurisdiction”
means any federal or state court: (1) that has jurisdiction over the
subject matter; and (2) that is located in the State of
Massachusetts.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">25.4.	<U>Venue for
any Judicial Proceeding</U>. This Agreement, including without
limitation this Agreement’s interpretation, shall be treated as
though this Agreement were executed and performed in the State of
Massachusetts and shall be governed by and construed in accordance
with the laws of the State of Massachusetts without regard to its
conflict of law principles. The language in this Agreement shall be
interpreted in accordance with its fair meaning and not strictly for
or against either party. <I><B>The proper venue for any judicial
action arising out of, relating to, or in connection with this
agreement will be the state and federal courts located in or nearest
to Boston, Massachusetts. The parties hereby stipulate to, and agree
to waive any objection to, the personal jurisdiction and venue of
such courts, and further expressly submit to extraterritorial service
of process.</B></I></P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">26.	<U>Termination</U>.
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>26.1.</B></I>	<U>By
Company</U>. <I><B>Without limiting any other provision of this
agreement, Company reserves the right to, in Company’s sole
discretion and without notice or liability, deny use of the Service
to any person for any reason or for no reason at all, including
without limitation for any breach or suspected breach of any
representation, warranty, or covenant contained in this agreement, or
of any applicable law or regulation.</B></I></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">26.2.	<U>Automatic
Termination Upon Breach by you</U>. This Agreement shall
automatically terminate in the event that you breach any of this
Agreement’s representations, warranties, or covenants. Such
termination shall be automatic, and shall not require any action by
Company.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">26.3.	<U>By You</U>.
You may terminate this Agreement and your rights hereunder at any
time, for any or no reason at all, by providing to Company notice of
your intention to do so, in the manner required by this Agreement.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">26.4.	<U>Effect of
Termination</U>. 
</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">26.4.1.	Any
termination of this Agreement automatically terminates all rights and
licenses granted to you under this Agreement, including all rights to
use the Service. Upon termination, Company may, but has no obligation
to, in Company’s sole discretion, rescind any services and/or
delete from Company’s systems all your Personal Information and any
other files or information that you made available to Company or that
otherwise relate to your use of the Service. Upon termination, you
shall cease any use of the Service.</P>
<P STYLE="text-indent: 1.5in; margin-top: 0.08in">26.4.2.	Subsequent
to termination, Company reserves the right to exercise whatever means
it deems necessary to prevent your unauthorized use of the Service,
including without limitation technological barriers such as IP
blocking and direct contact with your Internet Service Provider.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">26.5.	<U>Legal
Action</U>. If Company, in Company’s discretion, takes legal action
against you in connection with any actual or suspected breach of this
Agreement, Company will be entitled to recover from you as part of
such legal action, and you agree to pay, Company’s reasonable costs
and attorneys’ fees incurred as a result of such legal action. The
Company Parties will have no legal obligation or other liability to
you or to any third party arising out of or relating to any
termination of this Agreement.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">26.6.	<U>Survival</U>.
Upon termination, all rights and obligations created by this
Agreement will terminate, except that the following Sections will
survive any termination of this Agreement: <U>Section 1 (Agreement)</U>,
<U>Section 2 (Privacy Policy)</U>, <U>Section 4 (Eligibility)</U>,
<U>Section 5 (Company’s Role)</U>, <U>Section 6 (License)</U>,
<U>Section 7 (No Reliance on Third Party Content)</U>, <U>Section 8
(Assumption of Risk; Release)</U>, <U>Section 9 (Accurate User
Information; Password Protection)</U>, <U>Section 14 (Fees)</U>,
<U>Section 15 (Third Party Websites)</U>, <U>Section 16 (User
Content)</U>, <U>Section 17 (Public Forums)</U>, <U>Section 18 (your
Responsibility for Defamatory Comments)</U>, <U>Section 19
(Objectionable Content)</U>, <U>Section 20 (Prohibited Uses)</U>,
<U>Section 21 (Intellectual Property)</U>, <U>Section 22
(Disclaimers; Limitation of Liability)</U>, <U>Section 23 (your
Representations and Warranties)</U>, <U>Section 24 (Indemnity by
you)</U>, <U>Section 25 (Governing Law; Jurisdiction and Venue)</U>,
<U>Section 26 (Termination)</U>, <U>Section 27 (Notices)</U>, <U>Section
28.2 (Partial Invalidity)</U>, and <U>Section 28 (General)</U>.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">27.	<U>Notices</U>.
All notices required or permitted to be given under this Agreement
must be in writing.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">27.1.	Company shall
give any notice by email sent to the most recent email address, if
any, provided by the intended recipient to Company. You agree that
any notice received from Company electronically satisfies any legal
requirement that such notice be in writing.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in"><I><B>27.2.</B></I>	<I><B>You
bear the sole responsibility of ensuring that your email address on
file with Company is accurate and current, and notice to you shall be
deemed effective upon the sending by Company of an email to that
address.</B></I></P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">27.3.	You shall give
any notice to Company by means of email to <A HREF="mailto:info@studentgrounds.org"><U>info@studentgrounds.org</U></A>.</P>
<P STYLE="text-indent: 0.5in; margin-top: 0.08in">28.	<U>General</U>.
</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.1.	<U>Entire
Agreement</U>. This Agreement constitutes the entire agreement
between Company and you concerning your use of the Service.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.2.	<U>Partial
Invalidity</U>. Should any part of this Agreement be declared
invalid, void, or unenforceable by a Court of Competent Jurisdiction,
such decision shall not affect the validity of any remaining portion
hereof, which shall remain in full force and effect, and the parties
hereby acknowledge and agree that they would have executed the
remaining portion hereof without including the part so declared by a
Court of Competent Jurisdiction to be invalid, void, or
unenforceable.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.3.	<U>Amendments</U>.
This Agreement may only be modified by a written amendment signed by
an authorized executive of Company or by the unilateral amendment of
this Agreement by Company and by the posting by Company of such
amended version.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.4.	<U>No Waiver</U>.
A waiver by either party of any term or condition of this Agreement
or any breach thereof, in any one instance, will not waive such term
or condition or any subsequent breach thereof.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.5.	<U>Assignment</U>.
This Agreement and all of your rights and obligations hereunder will
not be assignable or transferable by you without the prior written
consent of Company. This Agreement will be binding upon and will
inure to the benefit of the parties, their successors, and permitted
assigns.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.6.	<U>Independent
Contractors</U>. You and Company are independent contractors, and no
agency, partnership, joint venture, or employee-employer relationship
is intended or created by this Agreement.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.7.	<U>No Third
Party Beneficiaries</U>. There are no third-party beneficiaries to
this Agreement, with the following exceptions: the Company Parties;
Company’s licensors and suppliers (to the extent expressly stated
in this Agreement); and to the extent stated in the following
Sections: <U>Section 7 (No Reliance on Third Party Content)</U>,
<U>Section 15 (Third Party Websites)</U>, <U>Section 22.4
(Application of Disclaimers)</U>.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.8.	<U>Injunctive
Relief</U>. You acknowledge and agree that any actual or threatened
breach of this Agreement or infringement of proprietary or other
third-party rights by you would cause irreparable injury to Company
and Company’s licensors and suppliers, and would therefore entitle
Company or Company’s licensors or suppliers, as the case may be, to
injunctive relief.</P>
<P STYLE="text-indent: 1in; margin-top: 0.08in">28.9.	<U>Headings</U>.
The headings in this Agreement are for the purpose of convenience
only and shall not limit, enlarge, or affect any of the covenants,
terms, conditions or provisions of this Agreement.</P>
</div>
</body>

</html>