{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
<script>
{% block jquery %}
$(function() {
    $( ".datepicker" ).datepicker();
  });

$('#textbook-link').click(function(e){
  e.preventDefault();
  $("#other").hide();
  $("#housing").hide();
  $("#room").hide();
  $("#tutor").hide();
  $("#electronic").hide();
  $('#textbook').fadeToggle();
  //$(this).next('.about-me').fadeToggle();
})

$('#other-link').click(function(e){
  e.preventDefault();
  $("#textbook").hide();
  $("#housing").hide();
  $("#room").hide();
  $("#tutor").hide();
  $("#electronic").hide();
  $('#other').fadeToggle();
  //$(this).next('.about-me').fadeToggle();
})
$('#electronic-link').click(function(e){
  e.preventDefault();
  $("#textbook").hide();
  $("#housing").hide();
  $("#room").hide();
  $("#tutor").hide();
  $("#other").hide();
  $('#electronic').fadeToggle();
  //$(this).next('.about-me').fadeToggle();
})
$('#room-link').click(function(e){
  e.preventDefault();
  $("#textbook").hide();
  $("#housing").hide();
  $("#electronic").hide();
  $("#tutor").hide();
  $("#other").hide();
  $('#room').fadeToggle();
  //$(this).next('.about-me').fadeToggle();
})
$('#tutor-link').click(function(e){
  e.preventDefault();
  $("#textbook").hide();
  $("#housing").hide();
  $("#electronic").hide();
  $("#room").hide();
  $("#other").hide();
  $('#tutor').fadeToggle();
  //$(this).next('.about-me').fadeToggle();
})
$('#housing-link').click(function(e){
  e.preventDefault();
  $("#textbook").hide();
  $("#tutor").hide();
  $("#electronic").hide();
  $("#room").hide();
  $("#other").hide();
  $('#housing').fadeToggle();
  //$(this).next('.about-me').fadeToggle();
})

$('.edit_schedule').click(function(e){
  
  e.preventDefault();
  
  $(this).next('.schedule').fadeToggle();
  //$('.reply_comment').fadeToggle();
})

{% endblock %}
</script>
{% block content %}

<style>

#main{
	padding-top:75px;
}
.schedule {
  display:none;
    }
.sched{
  background-color:#E0E0E0;
  border: none;
  color:black;

}

#list{
  padding-top:0px;
  padding-bottom:0px;
  background-color:#E0E0E0;
}

#other{
	display:none;
}
#housing{
	display:none;
}
#room{
	display:none;
}
#tutor{
	display:none;
}
#electronic{
	display:none;
}
</style>


<div class="container" id="main">
	<div class="row">

		<div class="col-md-3 col-sm-5">
        <div class="panel panel-default">
          
   			<div class="panel-body">
   				<div id='add_product_success'></div>
   					 <h4>Profile<h4>
                 <div class="media">
              {% for item in request.user.userpicture_set.all %}
                    
                    {% if item.image %}
                       
                            <div class="media-left">
                            <img src='{{ item.image.url }}' width="50" height="50" />
                        </div>
                        
                    {% endif %}
                
                    
                
            {% endfor %}
                    {% if not request.user.userpicture_set.all %}
            <div class="media-left">
                    <img src='{% static "img/default-prof.png" %}' width="50" height="50" />
                    </div>
            {% endif %}
                    <div class="media-body">
                        <br>
                        <a href='/profile/{{ request.user.id }}/'>
                        <b>{{ request.user.first_name }} {{ request.user.last_name }}</b>
                        </a>
                      
                    </div>

                </div>


   				


   			</div>
	   </div>

	   <div class="panel panel-default">
          
   			<div class="panel-body">
          <a href='/home/u-marketplace/'>U-Marketplace</a>
   				<h4>Account History</h4>
          <a href='/home/u-marketplace/account-history/selling/'>Your Item(s) Selling</a><br>
          <a href='/home/u-marketplace/account-history/sold/'>Your Item(s) Sold</a>
   			</div>
   		</div>

	   </div>


         
            
	<div class="col-md-6 col-sm-8">
    <div class="panel panel-default">
		<div class="panel-body">
			<h4 style='text-align:center;'>University Marketplace - Your Items Selling</h4><br>
			
		
		</div><!--panel-body-->

	</div><!--panel default-->
	<div class="panel panel-default">
		<div class="panel-body">
			<div id='search-items'>

			</div>
			<div id='list-items'>
			

		
			
				{% for item in products %}
        <div id='product_{{ item.id }}'>
		          <div class='media'>
		          <div class='media-left'>
		          	{% if item.image %}
                            <img src='{{ item.image.url }}' width="100" height="100" /><br>
                            {% endif %}
                            {% if not item.image %}
                            <img src='{% static "img/product.png" %}' width="100" height="100" /><br>
                            {% endif %}
		          </div><!--media-left-->
		          <div class='media-body'>
		              <b>{{ item.title }}</b> - ${{ item.price }}<br>
		              {{ item.description }}<br><br>
		              ~ <a href='/profile/{{ item.owner.id }}/'>{{ item.owner.first_name }} {{ item.owner.last_name }}</a>
		          </div><!--media-body-->

               <div class='media-right'>
                {% if not request.user == item.owner %}
                  <a href='/products/{{ item.id }}/messages/'><button class="btn btn-primary" type="button">Message</button></a>
                  {% endif %}
                  <br><br>
                  {% if request.user == item.owner %}
                  <form id='sold' action='/sold/' method='POST'>{% csrf_token %}
                    <input type='hidden' value='{{ item.id }}' name='product_id'>
                    <button class="btn btn-success" type="submit">Mark as Sold</button>
                  </form>

                  {% endif %}
                </div><!--div media-right-->
		          
		          </div><!--media-->
		          <hr>
            </div>
          		{% endfor %}
          	
          	</div><!--list-items-->
			</div>

		</div>
	</div>
	

		<div class="col-md-3 col-sm-5">
         <div class="panel panel-default">
           
   			<div class="panel-body">
   				<h4 style="text-align:center;">Schedule</h4>
          <div id='sched-error'></div>
<hr>
<a href='#' class='edit_schedule'>Add to Schedule</a>
              <div class='schedule' style='text-align:center;'>
              <form id='schedule' method='POST' action='/main_schedule/' enctype='multipart/form-data'> {% csrf_token %}
              
                
              {{ schedule_form.duedate }}<br>
              {{ schedule_form.text }}<br>
              {{ schedule_form.management_form }}
              
              
              
              <input class='btn btn-success' type='submit' value='Add'/>
              </form>
            

          </div><br><br>
   				{% for item in f %}


                
				<div id='assign_{{ item.0 }}' class="panel panel-default">
				          
				        <div id ='list'class="panel-body">

				          <div style='display:flex;'class="row">
				            <div style='color:white;background-color:red;'class='col-lg-4'>
				            <h5>{{ item.1|date:"M d, Y" }}</h5>
				          </div>
				            <div style='background-color:#E0E0E0;' class='col-lg-8'>
				            
				           {{ item.2 }} <br> {{ item.3 }}
				           {% if item.4 == 'main' %}
           <form id='delete-main-schedule' method='POST' action='/delete_main_sched/'>{% csrf_token %}
                          <input style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;" type='submit' class='sched btn btn-primary btn-xs' value='X'>
                         <input type='hidden' value='{{ item.0 }}' name='sched_id'></form>
          {% endif %}
           {% if item.4 == 'team' %}
           <form id='delete-team-schedule' method='POST' action='/delete_team_sched/'>{% csrf_token %}
                          <input style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;" type='submit' class='sched btn btn-primary btn-xs' value='X'>
                         <input type='hidden' value='{{ item.0 }}' name='sched_id'></form>
          {% endif %}
          {% if item.4 == 'frat' %}
           <form id='delete-frat-schedule' method='POST' action='/delete_frat_sched/'>{% csrf_token %}
                          <input style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;" type='submit' class='sched btn btn-primary btn-xs' value='X'>
                         <input type='hidden' value='{{ item.0 }}' name='sched_id'></form>
          {% endif %}
          {% if item.4 == 'club' %}
           <form id='delete-club-schedule' method='POST' action='/delete_sched/'>{% csrf_token %}
                          <input style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;" type='submit' class='sched btn btn-primary btn-xs' value='X'>
                         <input type='hidden' value='{{ item.0 }}' name='sched_id'></form>
          {% endif %}
          {% if item.4 == 'course' %}

           <form id='delete-course-schedule' method='POST' action='/delete_assign/'>{% csrf_token %}
                          <input style="position:absolute;bottom:5px;right:5px;margin:0;padding:5px 3px;" type='submit' class='sched btn btn-primary btn-xs' value='X'>
                         <input type='hidden' value='{{ item.0 }}' name='assign_id'></form>
          {% endif %}
				          </div>
				          </div>
				        
				    </div>

				</div>
{% endfor %}
<div style='text-align:center;'class="pagination">
    <span class="step-links">
        {% if f.has_previous %}
            <a href="?page={{ f.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ f.number }} of {{ f.paginator.num_pages }}.
        </span>

        {% if f.has_next %}
            <a href="?page={{ f.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
   			</div>
   		</div>
   		</div>



	</div><!--div row-->
</div><!--main-->

<script>
$('form').live('submit', function(event) {

    event.preventDefault();
    
    var $form = $(this);
    var id = $form.attr('id');
    var formData = $form.serialize();

    if ($form.attr("id") == "schedule"){
    
    $.ajax({
        type: "POST",
        url: "/main_schedule/",
        dataType: "json",
        data: formData,
        
        
        success: function (json) {
            
            var $response = json.response
            if ($response){
                document.location.reload();
                
            }
            else{
              $("#sched-error").html($("<div class='alert alert-danger' role='alert'>Please fill in all fields!</div>")).fadeIn(2000).fadeOut(3000);
                $('#schedule')[0].reset();
            }
             

        },
        error: function(data) {
          $(".syl-error").html("All fields are required. Make sure your date is actually a DATE!").fadeIn(2000).fadeOut(6000);
            
        }
    });
    }

    if ($form.attr("id") == "delete-main-schedule"){
    
    $.ajax({
        type: "POST",
        url: "/delete_main_sched/",
        dataType: "json",
        data: formData,
        
        
        success: function (json) {
            
            
                document.location.reload();
                
            
             

        },
        error: function(data) {
          
            
        }
    });
    }

    if ($form.attr("id") == "delete-course-schedule"){
    
    $.ajax({
        type: "POST",
        url: "/delete_assign/",
        dataType: "json",
        data: formData,
        
        
        success: function (json) {
            
            
                document.location.reload();
                
            
             

        },
        error: function(data) {
          $(".syl-error").html("All fields are required. Make sure your date is actually a DATE!").fadeIn(2000).fadeOut(6000);
            
        }
    });
    }
    if ($form.attr("id") == "delete-club-schedule"){
    
    $.ajax({
        type: "POST",
        url: "/delete_sched/",
        dataType: "json",
        data: formData,
        
        
        success: function (json) {
            
            
             
                document.location.reload();
            
             

        },
        error: function(data) {
          $(".syl-error").html("All fields are required. Make sure your date is actually a DATE!").fadeIn(2000).fadeOut(6000);
            
        }
    });
    }

    if ($form.attr("id") == "delete-frat-schedule"){
    
    $.ajax({
        type: "POST",
        url: "/delete_frat_sched/",
        dataType: "json",
        data: formData,
        
        
        success: function (json) {
            
            
                document.location.reload();
                
            
             

        },
        error: function(data) {
          
            
        }
    });
    }
    if ($form.attr("id") == "delete-team-schedule"){
    
    $.ajax({
        type: "POST",
        url: "/delete_team_sched/",
        dataType: "json",
        data: formData,
        
        
        success: function (json) {
            
            
                document.location.reload();
                
            
             

        },
        error: function(data) {
          
            
        }
    });
    }


    if ($form.attr("id") == "sold"){
    
    $.ajax({
        type: "POST",
        url: "/sold/",
        dataType: "json",
        data: formData,
        
        
        success: function (json) {
          
            console.log(json.id)
            $('#product_'+ json.id).hide();
            

            
            
            
        },
        error: function(data) {
          $(".syl-error").html("All fields are required. Make sure your date is actually a DATE!").fadeIn(2000).fadeOut(6000);
            
        }
    });
    }


});

</script>

{% endblock %}