{% load staticfiles %}

    
        

        {% for cat in category_places %}
            
            	<div class="media">
                            <div class="media-left">
                            {% if cat.image %}
                            <img src='{{ cat.image.url }}' width="100" height="100" /><br>
                            {% endif %}
                            {% if not cat.image %}
                            <img src='{% static "img/default-group.png" %}' width="100" height="100" /><br>
                            {% endif %}
                        </div>
                      <div class="media-body">
                       <a href='/home/local/{{ cat.id }}/'>{{ cat.name }}</a><br>
                      {{ cat.address }}<br>
                      
                      
                      {{ cat.hours }}<br>
                      
                   
                      {% if cat.delivery %}
                      Delivery: Yes!
                      {% endif %}
                      
                      </div>
                      <div class='media-right'>
                        <a target="_blank" href='{{ cat.website }}'>Website</a><br>
                        {% if cat.menu %}<a target="_blank" href='{{ cat.menu }}'>Menu</a><br>{% endif %}
                      
                      </div>
                      <hr>
            
        {% endfor %} 

        {% for place in places %}
            {% if not place in category_places %}
              <div class="media">
                            <div class="media-left">
                            {% if place.image %}
                            <img src='{{ place.image.url }}' width="100" height="100" /><br>
                            {% endif %}
                            {% if not place.image %}
                            <img src='{% static "img/default-group.png" %}' width="100" height="100" /><br>
                            {% endif %}
                        </div>
                      <div class="media-body">
                      <a href='/home/local/{{ place.id }}/'>{{ place.name }}</a><br>
                      {{ place.address }}<br>
                      
                      
                      {{ place.hours }}<br>
                      
                   
                      {% if place.delivery %}
                      Delivery: Yes!
                      {% endif %}
                      
                      </div>
                      <div class='media-right'>
                        <a target="_blank" href='{{ place.website }}'>Website</a><br>
                        {% if place.menu %}<a target="_blank" href='{{ place.menu }}'>Menu</a><br>{% endif %}
                      
                      </div>
                      <hr>
            {% endif %}
        {% endfor %}       
    
