{% extends "reg_base.html" %}
{% load i18n %}

{% load staticfiles %}


{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<style>
    .col-lg-4{
        padding-top:100px;
        opacity:0.80;
    }

   body {
    background: url('{% static "img/school3.jpg" %}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway',sans-serif;
    
    }

    .navbar{
  background:transparent;
  border-bottom:none;
  color:black;
  } 


</style>
<div style='text-align:center;' class='col-lg-4 col-lg-offset-4'>
<div class='panel panel-default'>
        <div class='panel-body'>
    

<div style='text-align:center;'>
{% if validlink %}

<h4 style='color:black;'>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</h4>

<form action="" method="post">{% csrf_token %}
<div style='color:red;'>{{ form.new_password1.errors }}</div>
<p class="aligned wide"><label style='color:black;' for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
<div style='color:red;'>{{ form.new_password2.errors }}</div>
<p class="aligned wide"><label style='color:black;' for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" class='btn btn-success' value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
</div><!--panel-body-->
</div><!--panel-default-->
</div><!--col-lg-4-->

{% endblock %}


