{% extends "reg_base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
<style>
    .col-lg-4{
        padding-top:100px;
        opacity:0.80;
    }

   body {
    background: url('{% static "img/school3.jpg" %}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway',sans-serif;
    
    }

    .navbar{
  background:transparent;
  border-bottom:none;
  color:black;
  } 


</style>
<div style='text-align:center;' class='col-lg-4 col-lg-offset-4'>
<div class='panel panel-default'>
        <div class='panel-body'>
    
<div style='text-align:center;'>
<h4 style='color:black;'>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</h4>

<h4 style='color:black;'>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</h4>
</div>
</div><!--panel-body-->
</div><!--panel-default-->
</div><!--col-lg-4-->

{% endblock %}

