{% extends "reg_base.html" %}
{% load i18n %}

{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}
<style>
    .col-lg-4{
        padding-top:100px;
        opacity:0.90;
    }

   body {
    background: url('{% static "img/school3.jpg" %}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Raleway',sans-serif;
    
    }

    .navbar{
  background:transparent;
  border-bottom:none;
  color:black;
  } 


</style>
<div style='text-align:center;' class='col-lg-4 col-lg-offset-4'>
<div class='panel panel-default'>
        <div class='panel-body'>
    

<div style='text-align:center;'>
<h4 style='color:black;'>{% trans "Your password has been set.  You may go ahead and log in now." %}</h4>


<form class="form-signin" method="POST" action="/auth_login/">{% csrf_token %}
        <h2 style='color:white; text-align:center;' class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label style='color:white;'>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

</div>
</div><!--panel-body-->
</div><!--panel-default-->
</div><!--col-lg-4-->

{% endblock %}

